// SPDX-License-Identifier: BSD-3-Clause
/*
 * SM7125 Samsung Galaxy A52 (a52q) specific device tree source
 *
 * Copyright (c) 2025, The Linux Foundation. All rights reserved.
 */

/dts-v1/;

#include "sm7125-samsung-common.dtsi"

/ {
	model = "Samsung Galaxy A52";
	compatible = "samsung,a52q", "qcom,sm7125";
	qcom,board-id = <0x22 0x6>;

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		rmtfs_mem: memory@f4f01000 {
			compatible = "qcom,rmtfs-mem";
			reg = <0 0xf4f01000 0 0x200000>;
			no-map;

			qcom,client-id = <1>;
			qcom,vmid = <QCOM_SCM_VMID_MSS_MSA>;
		};
	};
};
